connections:
  postgresql:
    adapter: postgresql
    database: apartment_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:

  mysql:
    adapter: mysql2
    database: apartment_mysql_test
    username: root
    password:

  mssql:
    adapter: sqlserver
    mode: dblib
    dataserver: localhost\sql2008
    database: apartment_sqlserver_test
    username: apartment
    password: P@ssword
    timeout: 5000
